.img-responsive {
  position: relative;
  justify-content: center;
  display: flex;
  align-items: end;
  vertical-align: bottom;
  margin: auto;
  min-width: 58%;
  max-width: 68%;
}

/*
.img-responsive:hover {
  width: 61%;
}
*/

.container{
  padding-bottom: 2%;
  text-align: center;
}
