<div class="p-grid ui-fluid">
  <div class="p-col-12">
    <h1 style="text-align: center; font-family: Ubuntu; font-weight: bold; font-size: 70px">ТВОЙ ХОККЕЙ</h1>
    <h2 pTooltip="* Текущая версия не отображает конечного качества продукта. Спасибо за тестирование!"
        tooltipPosition="bottom"
        placeholder="Bottom"
        style="text-align: center; font-family: Ubuntu; font-weight: normal; font-size: 10px">PRE ALPHA VERSION*
      (0.1.6)</h2>
    <h2 style="text-align: center; font-family: Ubuntu; font-weight: normal; font-size: 25px">Первый в России сервис для поиска и подбора хоккейной экипировки</h2>
  </div>
  <div class="p-col-12 container-height">
    <div class="p-grid">
      <div class="p-col-2"></div>
      <div class="p-col-8">
        <div class="p-grid">
          <div class="p-col-3 product-image p-justify-center">
            <a href="/product/АКСЕССУАРЫ?menuItem=АКСЕССУАРЫ&typeId=33,34,35,36,37,38,39,40,41,42,43,44,45">
            <img class="img-responsive"
                 src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/alex-ovechkin-washington-capitals-oil-art-3-joe-hamilton.jpg">
            </a>
          </div>
          <div class="p-col-3 product-image p-justify-center">
            <a href="/product/ВРАТАРСКАЯ_ФОРМА?menuItem=ВРАТАРСКАЯ_ФОРМА&typeId=20,21,22,23,24,25,26,27,28,29,30">
            <img class="img-responsive"
                 src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/jamie-benn-dallas-stars-oil-art-series-2-joe-hamilton.jpg">
            </a>
          </div>
          <div class="p-col-3 product-image p-justify-center">
            <a href="/product/ЗАЩИТА_ИГРОКА?menuItem=ЗАЩИТА_ИГРОКА&typeId=3,4,5,6,7,8,9,10,11,12">
            <img class="img-responsive"
                 src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/brad-marchand-boston-bruins-oil-art-joe-hamilton.jpg">
            </a>
          </div>
          <div class="p-col-3 product-image p-justify-center">
            <a href="/product/КЛЮШКИ?menuItem=КЛЮШКИ&typeId=13,14,15,16">
            <img class="img-responsive"
                 src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/henrik-lundqvist-new-york-rangers-oil-art-joe-hamilton.jpg">
            </a>
          </div>
        </div>
      </div>
      <div class="p-col-2"></div>
    </div>
  </div>
</div>

<div class="p-grid ui-fluid">
  <div class="p-col-12">
    <h1 style="color: white; text-align: center; font-family: Ubuntu; font-weight: bold; font-size: 150px">A</h1>
  </div>
  <div class="p-col-12 container-height">
    <div class="p-grid">
      <div class="p-col-2"></div>
      <div class="p-col-8">
        <div class="p-grid">
          <div class="p-col-3 product-image p-justify-center">
            <a href="/product/КОНЬКИ?menuItem=КОНЬКИ&typeId=1,2">
              <img class="img-responsive"
                   src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/patrick-kane-chicago-blackhawks-oil-art-series-3-joe-hamilton.jpg">
            </a>
          </div>
          <div class="p-col-3 product-image p-justify-center">
            <a href="/product/ОДЕЖДА?menuItem=ОДЕЖДА&typeId=17,18,19">
            <img class="img-responsive"
                 src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/sidney-crosby-pittsburgh-penguins-oil-art-joe-hamilton.jpg">
            </a>
          </div>
          <div class="p-col-3 product-image p-justify-center">
            <a href="/product/РАЗНОЕ?menuItem=РАЗНОЕ&typeId=46">
            <img class="img-responsive"
                 src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/patrice-bergeron-boston-bruins-oil-art-2-joe-hamilton.jpg">
            </a>
          </div>
          <div class="p-col-3 product-image p-justify-center">
            <a href="/product/СУМКИ?menuItem=СУМКИ&typeId=31,32">
            <img class="img-responsive"
                 src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/zdeno-chara-boston-bruins-oil-art-joe-hamilton.jpg">
            </a>
          </div>
        </div>
      </div>
      <div class="p-col-2"></div>
    </div>
  </div>
</div>

<!--<div class="p-grid">
  <div class="p-col-2"></div>
  <div class="p-col-2 p-align-center product-image">
    <img class="img-responsive"
         src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/alex-ovechkin-washington-capitals-oil-art-3-joe-hamilton.jpg">
  </div>
  <div class="p-col-2 p-align-center product-image">
    <img class="img-responsive"
         src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/alex-ovechkin-washington-capitals-oil-art-3-joe-hamilton.jpg">
  </div>
  <div class="p-col-2 p-align-center product-image">
    <img class="img-responsive"
         src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/alex-ovechkin-washington-capitals-oil-art-3-joe-hamilton.jpg">
  </div>
  <div class="p-col-2 p-align-center product-image">
    <img class="img-responsive"
         src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/alex-ovechkin-washington-capitals-oil-art-3-joe-hamilton.jpg">
  </div>
  <div class="p-col-2"></div>
</div>
<div class="p-grid">
  <div class="p-col-2"></div>
  <div class="p-col-2 p-align-center product-image">
    <img class="img-responsive"
         src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/alex-ovechkin-washington-capitals-oil-art-3-joe-hamilton.jpg">
  </div>
  <div class="p-col-2 p-align-center product-image">
    <img class="img-responsive"
         src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/alex-ovechkin-washington-capitals-oil-art-3-joe-hamilton.jpg">
  </div>
  <div class="p-col-2 p-align-center product-image">
    <img class="img-responsive"
         src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/alex-ovechkin-washington-capitals-oil-art-3-joe-hamilton.jpg">
  </div>
  <div class="p-col-2 p-align-center product-image">
    <img class="img-responsive"
         src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/alex-ovechkin-washington-capitals-oil-art-3-joe-hamilton.jpg">
  </div>
  <div class="p-col-2"></div>
</div>-->


