<div id="header" class="p-grid header ui-fluid">
  <!--Grid for header-->
  <div class="p-col-12 p-md-2 p-lg-2 p-xl-2">
    <!--Logo place-->
    <a href="/main">
      <img id="logo" class="logo" src="assets/showcase/images/logo/logo.svg">
    </a>
  </div>
  <div class="p-col-8 p-md-6 search-block">
    <!--Search place-->
    <p-autoComplete [ngModel]="product"
                    [suggestions]="searchResults"
                    field="Поиск по имени"
                    size="75"
                    (completeMethod)="search($event)"
                    (onSelect)="onSelect($event)"
                    (onKeyUp)="searchEnter($event)"
                    styleClass="abc">
      <ng-template let-product pTemplate="item">
        <div class="ui-helper-clearfix top-search">
          <img src="{{product.imageLink}}" style="width:60px;display:inline-block;margin:5px 0 2px 5px"/>
          <div
            style="width: 100%; font-size:18px;float:right;margin:10px 10px 0 0; border-bottom:1px solid #D5D5D5;">
            {{product.brand.shortName}} {{product.model}} {{product.age}}
          </div>
        </div>
      </ng-template>
    </p-autoComplete>
  </div>

  <!--Compare + Favourites + Login/Profile-->
  <div class="p-col-4 p-md-4">
    <div class="p-grid">
      <div class="p-col-5 p-md-2 header-icons">
        <img src="assets/showcase/images/icons/grey-compare.svg">
      </div>
      <div class="p-col-0 p-md-3 header-text" [hidden]="true">
        {{screenWidth>smallScreenWidth ? 'Сравнить' : ''}}

      </div>

      <div class="p-col-5 p-md-2 header-icons">
        <img src="assets/showcase/images/icons/grey-heart.svg">
      </div>
      <div class="p-col-0 p-md-3 header-text">
        {{screenWidth>smallScreenWidth ? 'Избранное' : ''}}
      </div>

      <div class="p-col-2 header-icons">
        <img src="assets/showcase/images/icons/avatar.png">
      </div>
    </div>
  </div>


  <div class="p-col-12">
    <!--Catalogue + most important 1 lvl items-->
    <p-menubar [model]="menu" class="centered-menu"></p-menubar>
  </div>
</div>

<router-outlet></router-outlet>
