<div id="header" class="header p-justify-center ui-fluid">
  <!--Grid for header-->
  <div class="p-grid p-justify-start p-align-center ui-fluid fixed-p-12">

    <!--Catalog icon and menu FOR MOBILE-->
    <div class="p-col-1 p-lg-0 mobile-catalog-container">
      <button id="mobileCatalogButton" type="button" pButton icon="pi pi-bars" label=" "
              (click)="mobileCatalog.toggle($event); mobileMenuSideBar.visible=true"></button>
      <p-sidebar #mobileMenuSideBar
                 [(visible)]="mobileMenuSideBar.visible"
                 [baseZIndex]="10000"
                 [autoZIndex]="true"
                 [showCloseIcon]="true"
                 position="left">
        <div #catalogHeader class="p-col-12 sidebar-header">
          Каталог
        </div>
        <p-slideMenu #mobileCatalog id="mobileCatalog" [model]="items"
                     [viewportHeight]="420"
                     [menuWidth]="230"
                     [backLabel]="'Назад'"
                     [popup]="true"
                     [appendTo]="catalogHeader"
                     (onHide)="mobileMenuSideBar.visible = false">
        </p-slideMenu>
      </p-sidebar>
    </div>

    <!--Logo place-->
    <div class="p-col-5 p-lg-3 fixed-p-3 logo-container">
      <a href="/">
        <img id="logo" class="logo" src="assets/showcase/images/logo/logo orange+white for dark header 626262.svg">
      </a>
    </div>

    <!--Search place FOR DESKTOP-->
    <div id="desktopSearch" class="p-col-0 p-lg-5 search-block fixed-p-5">
      <p-autoComplete #desktopAutoComplete [ngModel]="product"
                      [suggestions]="searchResults"
                      [required]="true"
                      (onFocus)="searchOnRestore($event, desktopAutoComplete)"
                      scrollHeight="320px"
                      [placeholder]="'Поиск'"
                      size="75"
                      field="search"
                      (completeMethod)="search($event)"
                      (onSelect)="onSelect($event)"
                      (onKeyUp)="searchEnter($event)"
                      class="autocomplete-search">
        <ng-template let-product pTemplate="item">
          <div class="ui-helper-clearfix top-search p-grid p-nogutter">
            <div class="p-col-2">
              <img src="{{machineBaseUrl + '8082/images/' + product.productId}}"/>
            </div>
            <div class="p-col-10 top-search-text">
              {{product.type.showName}} {{product.brand.shortName}} {{product.model}} {{product.age}}
            </div>
          </div>
        </ng-template>
      </p-autoComplete>
      <span class="pi pi-search"></span>
    </div>


    <!--Compare + Favourites + Login/Profiles-->
    <div class="p-col-fixed compare-favourites-container">
      <div class="p-grid p-align-center  p-nogutter p-justify-start" style="margin: auto">

        <!--Search place FOR MOBILE-->
        <div id="mobileSearch" class="p-col-fixed">
          <!-- TODO: see styles.css .ui-sidebar-top -->
          <p-sidebar #sidebar [(visible)]="searchFieldVisible" position="top" [showCloseIcon]="false"
                     (onShow)="mobileAutoComplete.focusInput(); searchOnRestore($event, mobileAutoComplete)">
            <!-- TODO: see styles.css .ui-autocomplete -->
            <p-autoComplete #mobileAutoComplete [ngModel]="product"
                            [suggestions]="searchResults"
                            [required]="true"
                            scrollHeight="320px"
                            [placeholder]="'Поиск'"
                            field="search"
                            size="75"
                            (completeMethod)="search($event)"
                            (onSelect)="onSelect($event); sidebar.close($event)"
                            (onKeyUp)="mobileSearchEnter($event, sidebar, mobileAutoComplete)"
                            class="autocomplete-search">
              <ng-template let-product pTemplate="item">
                <div class="ui-helper-clearfix top-search p-grid p-nogutter">
                  <div class="p-col-2">
                    <img src="{{machineBaseUrl + '8082/images/' + product.productId}}"/>
                  </div>
                  <div class="p-col-10 top-search-text">
                    {{product.type.showName}} {{product.brand.shortName}} {{product.model}} {{product.age}}
                  </div>
                </div>
              </ng-template>
            </p-autoComplete>
          </p-sidebar>
          <button type="button" (click)="searchFieldVisible=true" pButton icon="pi pi-search"
                  style=" width: 30%; border: none; background-color: transparent; box-shadow: none">
          </button>
        </div>
        <div class="p-col-fixed p-md-5" style="width: 35px">
          <img src="assets/showcase/images/icons/grey-compare.svg"
               class="header-icons">
        </div>
        <div class="p-col-fixed header-text" style="width: 70px">
          Сравнить
        </div>
        <div class="p-col-fixed p-md-5" style="width: 35px">
          <img src="assets/showcase/images/icons/grey-heart.svg"
               class="header-icons">
        </div>
        <div class="p-col-fixed header-text" style="width: 70px">
          Избранное
        </div>

        <div class="p-col-fixed">
          <img src="assets/showcase/images/icons/avatar.png"
               class="header-icons">
        </div>
      </div>
    </div>

    <!--Catalog + most important 1 lvl items FOR DESKTOP-->
    <div id="desktopCatalog" class="p-col-12 p-lg-3 fixed-p-3" style=" padding-right: 0; padding-top: 4px">
      <p-menubar [model]="catalog" icon="pi pi-bars" class="catalog"></p-menubar>
    </div>
    <div class="p-col-0 p-lg-9 p-justify-start fixed-p-9 horizontal-menu" style="width:auto">
      <p-tabMenu [model]="items"></p-tabMenu>
    </div>

  </div>
</div>
<router-outlet></router-outlet>
<div id="footer"
     style="font-family: Ubuntu; background: #F3F3F3; position:page; bottom:0;  width:100%; padding-top: 0.7em; padding-bottom: 1em">
  <p style="text-align: center">
    <a href="https://forms.gle/YAzXXggUh4LJ2Wgf9"
       target="_blank"
       rel="noopener noreferrer">
      ФОРМА ОБРАТНОЙ СВЯЗИ
    </a>
  </p>
  <p style="text-align: center; margin-bottom: 0; padding-bottom: 0;">2020 © Твой Хоккей</p>
</div>
