.product-name {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  /*line-height: 140%;*/
  /* or 29px */
  letter-spacing: 0.02em;

  position: relative;
  padding-top: 2em;
  padding-bottom: 1.5em;
  text-align: left;
  vertical-align: center;

  color: #0E0E0E;
}


.product-details-menu {
  margin: 0 auto;
  padding: 20px;
  background: #E9E9E9;
  color: #E9E9E9;
  vertical-align: center;
  text-align: center;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 140%;
  /* or 18px */

  letter-spacing: 0.02em;

  /* #0E0E0E */

  color: #0E0E0E;
}

.product-details-menu-item {
  display: inline-block;
  vertical-align: center;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 140%;
  /* or 18px */

  letter-spacing: 0.02em;
  /* #0E0E0E */
  color: #0E0E0E;
}

.product-rating img {
  display: inline-block;
  padding-right: 5px;
}

.gallery {

}

:host ::ng-deep img.ui-panel-images {
  object-fit: contain !important;
  height: inherit;
  width: inherit;
}

.product-img {
  position: relative;
  max-width: 100%;
}

.product-price {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 140%;
  /* or 29px */

  letter-spacing: 0.02em;

  color: #000000;
}

.product-info {
  padding: 5%;
}




.one-string-text {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 140%;
  /* or 18px */
  letter-spacing: 0.02em;
  /* #0E0E0E */


  display: inline-block;
  color: #0E0E0E;
}


.product-description {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 140%;
  /* or 18px */
  letter-spacing: 0.02em;
  padding-top: 5%;
  /* #0E0E0E */
  color: #0E0E0E;
}

.expand-text {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 140%;
  /* or 18px */
  letter-spacing: 0.02em;
  /* #0E0E0E */
  color: #0E0E0E;
}

.expand-text:hover {
  cursor: pointer;
}

.offers {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 140%;
  /* or 29px */
  position: center;
  text-align: left;
  letter-spacing: 0.02em;

  color: #000000;
}


.offers a p {
  margin-top: 0;
  margin-bottom: 0.01em;
}

.offers td {
  border: none;
  border-bottom: 1px solid #E9E9E9;

  word-wrap: break-spaces;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;

  vertical-align: center;
  color: #000000;
}

.offer-price {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 140%;
  /* or 29px */
  position: center;
  text-align: right;
  letter-spacing: 0.02em;

  color: #000000;
}

.ui-button:enabled:hover {
  background-color: #E07E0B !important;
  color: #ffffff;
  border-color: #E07E0B !important;
}

.ui-button:enabled:active {
  background-color: #E07E0B !important;
  color: #ffffff;
  border-color: #E07E0B !important;
}

.offer-link {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 140%;
  /* or 18px */

  letter-spacing: 0.02em;

  text-align: right;
  max-width: fit-content;


  color: #FFFFFF;
  background: #E07E0B;
  border-color: #E07E0B;
  border-radius: 3px;
  padding: 10px;

  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

