.product-details {
  display: flex;
  justify-content: center;
}

.product-name {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 140%;
  letter-spacing: 0.02em;

  position: relative;
  padding-top: 2em;
  padding-bottom: 1.5em;
  padding-left: 1.5em;
  text-align: left;
  vertical-align: center;
  color: #0E0E0E;
}


.product-details-menu {
  padding: 0;
  background: #f4f4f4;
  color: #0E0E0E;
  vertical-align: center;
  text-align: center;
  border: 1px solid #dcdcdc;
  border-right: none;
  border-top: none;
  box-shadow: 0 1px 4px 0 #b9b9b9;
}

.product-details-menu-item {
  padding: 20px 0;
  display: inline-block;
  vertical-align: center;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  border-right: 1px solid #dcdcdc;

  letter-spacing: 0.02em;
  /* #0E0E0E */
  color: #0E0E0E;
}

.product-details-menu-item a {
  color: #0E0E0E;
}


@media screen and (max-device-width: 991px) {
  .product-name {
    text-align: center;
  }

  .product-details-menu,
  .product-details-menu * {
    display: none;
    padding: 0;
  }

  #productGalleria {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 80%;
  }
  #productGalleria img.ui-panel-images {
    width: 80%;
    height: 64%;
  }

  #desktopPrice {
    display: none;
    padding: 0;
  }
  #mobilePrice {
    font-size: 14px;
    text-align: right;
  }
  div.one-string-text {
    display: none;
    padding: 0;
  }

  .product-name {
    padding-left: 0.5em;
  }
  .favourites-and-comparison,
  .favourites-and-comparison *{
    display: none;
    padding: 0;
  }
}

@media screen and (min-device-width: 992px) {
  #mobilePrice {
    display: none;
    padding: 0;
  }
}

.product-rating img {
  display: inline-block;
  padding-right: 5px;
}

.gallery {

}

:host ::ng-deep img.ui-panel-images {
  object-fit: contain !important;
  height: inherit;
  width: inherit;
}

.product-img {
  position: relative;
  max-width: 100%;
}

.product-price {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 140%;
  /* or 29px */

  letter-spacing: 0.02em;

  color: #000000;
}

.product-info {
  padding: 5%;
}


.one-string-text {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 140%;
  /* or 18px */
  letter-spacing: 0.02em;
  /* #0E0E0E */


  display: inline-block;
  color: #0E0E0E;
}


.product-description {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 140%;
  /* or 18px */
  letter-spacing: 0.02em;
  padding-top: 5%;
  /* #0E0E0E */
  color: #0E0E0E;
}

.expand-text {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 140%;
  /* or 18px */
  letter-spacing: 0.02em;
  /* #0E0E0E */
  color: #0E0E0E;
}

.expand-text:hover {
  cursor: pointer;
}

.offers {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 140%;
  /* or 29px */
  position: center;
  text-align: left;
  letter-spacing: 0.02em;

  color: #000000;
}


.offers a p {
  margin-top: 0;
  margin-bottom: 0.01em;
}

.offers td {
  border: none;
  border-bottom: 1px solid #E9E9E9;

  word-wrap: break-spaces;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;

  vertical-align: center;
  color: #000000;
}

.offer-price {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 140%;
  /* or 29px */
  position: center;
  text-align: right;
  letter-spacing: 0.02em;

  color: #000000;
}

.ui-button:enabled:hover {
  background-color: #E07E0B !important;
  color: #ffffff;
  border-color: #E07E0B !important;
}

.ui-button:enabled:active {
  background-color: #E07E0B !important;
  color: #ffffff;
  border-color: #E07E0B !important;
}

.offer-link {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 140%;
  /* or 18px */

  letter-spacing: 0.02em;

  text-align: right;
  max-width: fit-content;


  color: #FFFFFF;
  background: #E07E0B;
  border-color: #E07E0B;
  border-radius: 3px;
  padding: 10px;

  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

