.product-name {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  /*line-height: 140%;*/
  /* or 29px */
  letter-spacing: 0.02em;

  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: left;
  vertical-align: center;

  color: #0E0E0E;
}

.best-offers-heading {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  /*line-height: 140%;*/
  /* or 29px */
  letter-spacing: 0.02em;

  position: relative;
  padding-top: 5%;
  padding-left: 5%;
  text-align: left;

  color: #0E0E0E;
}

.product-details-menu {
  margin: 0;
  padding: 5%;
  background: #E9E9E9;
  color: #E9E9E9;

}

.product-menu-item {
  display: inline-block;
  text-align: center;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 140%;
  /* or 18px */

  letter-spacing: 0.02em;
  /* #0E0E0E */
  color: #0E0E0E;
}

.product-rating {
  display: inline-block;
}


.gallery-img1 {
  position: relative;
  max-width: 100%;
}

.gallery-img2 {
  position: relative;
  max-width: 100%;
}

.gallery-img3 {
  position: relative;
  max-width: 100%;
}

.product-img {
  position: relative;
  max-width: 100%;
}

.product-price {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 140%;
  /* or 29px */

  padding: 5%;

  letter-spacing: 0.02em;
  color: #000000;
}

.product-info {
  padding: 5%;
}

.favourites-and-comparison {
  text-align: left;
}


.one-string-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 140%;
  /* or 18px */
  letter-spacing: 0.02em;
  /* #0E0E0E */

  display: inline-block;
  color: #0E0E0E;
}


.product-description {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 140%;
  /* or 18px */
  letter-spacing: 0.02em;
  /* #0E0E0E */
  color: #0E0E0E;
}

.best-offers {
  position: relative;
  padding-top: 5%;
  padding-left: 5%;
  text-align: left;

}

.best-offers-banner {
  position: center;
  padding-top: 5%;
  padding-left: 5%;
}
