.type-name {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  /*line-height: 140%;*/
  /* or 29px */
  letter-spacing: 0.02em;

  position: relative;
  padding-top: 3%;
  padding-bottom: 2%;
  padding-left: 2%;
  text-align: left;
  vertical-align: center;

  color: #0E0E0E;
}

.product-filter-container {
  max-width: border-box;
}

.product-image {
  position: relative;
  height: 250px;
  width: 250px;
  margin: auto;
}

img {
  position: absolute;
  display: flex;
  align-items: center;
  vertical-align: middle;
  max-height: 200px;
  max-width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0 35px;

  margin: auto;
}

.product-short-info {
  /*  display: flex;
    align-items: flex-end;
    justify-content: center;*/
}

body .ui-dataview .ui-dataview-header {
  border: none;
}

.ui-g-3:hover {
  position: relative;
  /*common active color on hover
    border: 2px solid #E07E0B;*/
  box-shadow: 0 0 20px #CFCFCF;

  text-align: center;
  padding: 35px 0;
}

.ui-g-3 {
  position: relative;
  display: flex;
  align-items: flex-end;
  /*  border: 2px solid transparent;*/
  padding: 35px 0;
  border-bottom: 1px solid #E5E5E5;
  text-align: center;
  margin-top: 0;

}
