.type-name {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  letter-spacing: 0.02em;

  position: relative;
  padding-top: 2em;
  padding-bottom: 1.5em;
  padding-left: 0;
  text-align: left;
  vertical-align: center;

  color: #0E0E0E;
}

.product-filter-container {
  padding-left: 0.5em;
}


/*to have no standard filters on small screens
  and name of the type in the center of the screen
*/
@media screen and (max-width: 991px) {
  .product-filter-container {
    padding: 0;
    display: none;
  }
  .type-name {
    text-align: center;
  }
}

.filter-header {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 140%;
  /* or 18px */
  letter-spacing: 0.02em;

  color: #0E0E0E;
}

.filter-header-box {
/*  border-bottom: 1px solid #E5E5E5;*/
  border-top: 1px solid #E5E5E5;
}

.filter-box {
  display: flex;
  justify-content: start;
  left: 0;
  margin: auto;
}

.range-box {
  display: inline-block;
  width: auto;
  max-width: 95%;
}

.product-dataview {
/*  padding: 0 0 0 1.5em;*/
}

.product-image {
  position: relative;
  height: 250px;
  width: 100%;
/*  margin: auto;*/
}

img.img-responsive {
  position: absolute;
  display: flex;
  align-items: center;
  vertical-align: middle;
  max-height: 200px;
  max-width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0 20px;

  margin: auto;
}

.product-short-info {
  text-align: center;
}

.product-card:hover {
  position: relative;
  /*common active color on hover
    border: 2px solid #E07E0B;*/
  box-shadow: 0 0 20px #CFCFCF;

  text-align: center;
/*  padding: 0 0 35px;*/
}

.product-card {
  position: relative;
  display: flex;
  align-items: flex-end;
/*  padding: 0 0 35px;*/
  border-bottom: 1px solid #E5E5E5;
  text-align: center;
  margin-top: 0;
}

a.data-view-product-name {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.02em;

  color: #0E0E0E;
}

a.data-view-product-name:hover,
.product-card:hover .data-view-product-name {
  color: #E07E0B;
}

.data-view-product-rating,
.data-view-offer-qty {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;

  letter-spacing: 0.02em;
  padding-top: 0.5em;
  color: #0E0E0E;
}
