<div class="p-grid">
  <div class="p-col">
    <p-button label="Click" (onClick)="sendRequest($event)"></p-button>
    <ul>
      <li *ngFor="let filterItem of filters">
        <p-listbox [id]="filterItem.showName" [options]="filterItem.selectItem" [(ngModel)]="listBoxNgModelStub"
                   [listStyle]="{'max-height':'150px'}"
                   [style]="{'width':'250px'}" [multiple]="true" (onChange)="refreshFilters($event)"
                   [checkbox]="true" [filter]="true">
          <p-header>{{filterItem.showName}}</p-header>
        </p-listbox>
      </li>
    </ul>
  </div>
  <div class="p-col-10">
    <p-dataView [value]="products" [paginator]="true" [rows]="50" layout="grid">
      <p-header>
        List of Products
        <p-dataViewLayoutOptions>
        </p-dataViewLayoutOptions>
      </p-header>
      <p-footer>Choose from the list.</p-footer>
      <ng-template let-product pTemplate="gridItem">
        <div class="ui-g-4" align="center">
          <img width="300" alt="img" class="img-responsive" src="assets/showcase/images/product/im-16.jpg">
          <div class="ui-g-12">Name: <b>{{product.brand.shortName + " " + product.model}}</b></div>
          <div class="ui-g-12">Price: <b>{{product.minPrice}}</b></div>
        </div>
      </ng-template>
      <ng-template let-product pTemplate="listItem">
        <div class="car-details">
          <div>
            <img src="assets/showcase/images/demo/car/{{product.imageLink}}.png">
            <div class="ui-g">
              <div class="ui-g-12">Name: <b>{{product.brand.shortName + " " + product.model}}</b></div>
              <div class="ui-g-12">Price: <b>{{product.minPrice}}</b></div>
              <div class="ui-g-12 ui-md-3">
                <div class="ui-g-12">Price: <b> {{product.rating.value}}</b></div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

    </p-dataView>
  </div>
</div>

