<div class="data-view-content">
  <div class="p-grid p-justify-between ui-fluid p-align-stretch fixed-p-12">
    <!--DESKTOP filters-->
    <div class="p-col-12 p-lg-3 fixed-p-3 product-filter-container">
      <p-checkbox label="Есть в наличии" [(ngModel)]="inStock" binary="true" (onChange)="sendRequest()"
                  style="padding-left: 0.5em">
      </p-checkbox>

      <ul class="filters">
        <li *ngFor="let filterItem of filters">
          <div class="p-grid p-nogutter">
            <div class="p-col-12 p-justify-start filter-box">
              <div *ngIf="filterItem.filterType==='CHECKBOX'">
                <div class="p-grid">
                  <div class="p-col-12 filter-name-box">
                    <p-header class="filter-name">{{filterItem.showName}}</p-header>
                  </div>
                  <div class="p-col-12">
                    <p-listbox [id]="filterItem.showName" [options]="filterItem.selectItem"
                               [ngModel]="selectedFilterMap.get(filterItem.filterKey)"
                               (ngModelChange)="selectedFilterMap.set(filterItem.filterKey, $event)"
                               [listStyle]="{'max-height':'125px', 'padding-left':'0', 'margin-left':'0'}"
                               [multiple]="true"
                               [checkbox]="true"
                               [filter]="true"
                               (onChange)="sendRequest()">
                    </p-listbox>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-col-12 p-justify-start filter-box">
              <div *ngIf="filterItem.filterType==='RANGE'">
                <div class="p-grid">
                  <div class="p-col-12 filter-name-box">
                    <p-header class="filter-name">{{filterItem.showName}}</p-header>
                  </div>
                  <div class="p-col-6 p-justify-center">
                    <input type="text" placeholder="От {{selectedFilterMap.get(filterItem.filterKey)[0]}}"
                           class="range-box"
                           pInputText [(ngModel)]="selectedFilterMap.get(filterItem.filterKey)[0]"
                           (change)="sendRequest()"/>
                  </div>
                  <div class="p-col-6 p-justify-center">
                    <input type="text" placeholder="До {{selectedFilterMap.get(filterItem.filterKey)[1]}}"
                           class="range-box"
                           pInputText [(ngModel)]="selectedFilterMap.get(filterItem.filterKey)[1]"
                           (change)="sendRequest()"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-col-12 p-justify-start filter-box">
              <div *ngIf="filterItem.filterType==='DROPDOWN'">
                <div class="p-grid">
                  <div class="p-col-12 filter-name-box">
                    <p-header class="filter-name">{{filterItem.showName}}</p-header>
                  </div>
                  <div class="p-col-12">
                    <p-dropdown [options]="filterItem.selectItem"
                                [ngModel]="selectedFilterMap.get(filterItem.filterKey)"
                                (ngModelChange)="selectedFilterMap.set(filterItem.filterKey, $event)"
                                [style]="{'min-width':'100px'}"
                                placeholder="{{filterItem.showName}}"
                                (onChange)="sendRequest()">
                    </p-dropdown>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="p-grid">
        <div class="p-col-6">
          <p-button class="apply-button"
                    label="Применить"
                    (onClick)="sendRequest()">

          </p-button>
        </div>
        <div class="p-col-6">
          <p-button class="decline-button"
                    label="Очистить"
                    (onClick)="clearFilters()">
          </p-button>
        </div>
      </div>

    </div>

    <!--Dataview-->
    <div class="p-col-12 p-lg-9 product-dataview">
      <p-dataView [value]="products"
                  [paginator]="true"
                  [rows]="24"
                  [alwaysShowPaginator]="false"
                  [emptyMessage]="'По вашему запросу ничего не найдено :('"
                  (onPage)="scrollTo()"
                  layout="grid">
        <p-header id="dataViewHeader" class="p-grid p-nogutter p-justify-between">
          <div id="CategoryName" class="p-col-12 p-lg-5 type-name">{{typeName}}</div>
          <div id="sorting" class="p-col-6 p-lg-4" *ngFor="let filterItem of filters;">
            <div *ngIf="filterItem.filterType==='SORT'">
              <p-dropdown [options]="filterItem.selectItem"
                          [ngModel]="selectedFilterMap.get(filterItem.filterKey)"
                          (ngModelChange)="selectedFilterMap.set(filterItem.filterKey, $event)"
                          [style]="{'min-width':'250px', width:'100%'}"
                          (onChange)="sendRequest()"
                          placeholder="{{filterItem.showName}}">
              </p-dropdown>
            </div>
          </div>

          <!--MOBILE filters-->
          <div id="mobileFilters" class="p-col-4">
            <div class="p-col-6 p-justify-start filter-box">
              <div *ngFor="let filterItem of filters">
              <div *ngIf="filterItem.filterType==='SORT'">
                <div class="p-grid">
                  <div class="p-col-12 filter-name-box">
                    <p-header class="filter-name">{{filterItem.showName}}</p-header>
                  </div>
                  <div class="p-col-12">
                    <p-dropdown class="sorting" [options]="filterItem.selectItem"
                                [ngModel]="selectedFilterMap.get(filterItem.filterKey)"
                                (ngModelChange)="selectedFilterMap.set(filterItem.filterKey, $event)"
                                [style]="{'min-width':'100px'}"
                                placeholder="{{filterItem.showName}}"
                                (onChange)="sendRequest()">
                    </p-dropdown>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <button class="p-col-6" type="button" label="Фильтры" pButton icon="pi pi-filter"
                    style="background-color: #ffffff; color: #7F7F7F;
                    border: 1px solid #E5E5E5; border-radius: 1px;  box-shadow: none;
                    font-family: Ubuntu; font-size: 14px; width: 100%; height: 40px; margin: auto"
                    (click)="mobileFilterSideBar.visible = true">
            </button>
            <p-sidebar #mobileFilterSideBar
                       [(visible)]="mobileFilterSideBar.visible"
                       [baseZIndex]="10000"
                       [showCloseIcon]="true"
                       [fullScreen]="false"
                       position="right">
              <div class="p-col-12 sidebar-header">
                Фильтры
              </div>
              <p-scrollPanel [style]="{width: '100%', height: '90%'}">
                <p-checkbox label="Есть в наличии" [(ngModel)]="inStock" binary="true"
                            style="padding-left: 0.5em">
                </p-checkbox>

                <ul class="filters">
                  <li *ngFor="let filterItem of filters">
                    <div class="p-grid p-nogutter">
                      <div class="p-col-12 p-justify-start filter-box">
                        <div *ngIf="filterItem.filterType==='CHECKBOX'">
                          <div class="p-grid">
                            <div class="p-col-12 filter-name-box">
                              <p-header class="filter-name">{{filterItem.showName}}</p-header>
                            </div>
                            <div class="p-col-12">
                              <p-listbox [id]="filterItem.showName" [options]="filterItem.selectItem"
                                         [ngModel]="selectedFilterMap.get(filterItem.filterKey)"
                                         (ngModelChange)="selectedFilterMap.set(filterItem.filterKey, $event)"
                                         [listStyle]="{'max-height':'125px', 'padding-left':'0', 'margin-left':'0'}"
                                         [multiple]="true"
                                         [checkbox]="true"
                                         [filter]="true"
                                         (onChange)="sendRequest()">
                              </p-listbox>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="p-col-12 p-justify-start filter-box">
                        <div *ngIf="filterItem.filterType==='RANGE'">
                          <div class="p-grid">
                            <div class="p-col-12 filter-name-box">
                              <p-header class="filter-name">{{filterItem.showName}}</p-header>
                            </div>
                            <div class="p-col-6 p-justify-center">
                              <input type="text" placeholder="От {{selectedFilterMap.get(filterItem.filterKey)[0]}}"
                                     class="range-box"
                                     pInputText [(ngModel)]="selectedFilterMap.get(filterItem.filterKey)[0]"
                                     (change)="sendRequest()"/>
                            </div>
                            <div class="p-col-6 p-justify-center">
                              <input type="text" placeholder="До {{selectedFilterMap.get(filterItem.filterKey)[1]}}"
                                     class="range-box"
                                     pInputText [(ngModel)]="selectedFilterMap.get(filterItem.filterKey)[1]"
                                     (change)="sendRequest()"/>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="p-col-12 p-justify-start filter-box">
                        <div *ngIf="filterItem.filterType==='DROPDOWN'">
                          <div class="p-grid">
                            <div class="p-col-12 filter-name-box">
                              <p-header class="filter-name">{{filterItem.showName}}</p-header>
                            </div>
                            <div class="p-col-12">
                              <p-dropdown class="sorting" [options]="filterItem.selectItem"
                                          [ngModel]="selectedFilterMap.get(filterItem.filterKey)"
                                          (ngModelChange)="selectedFilterMap.set(filterItem.filterKey, $event)"
                                          [style]="{'min-width':'200px; width: 100%'}"
                                          placeholder="{{filterItem.showName}}"
                                          (onChange)="sendRequest()">
                              </p-dropdown>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="p-grid">
                  <p-button class="p-col-6 apply-button"
                            label="Применить"
                            (onClick)="sendRequest(); mobileFilterSideBar.close($event)"
                            style="display: flex; justify-content: center; margin-bottom: 10%">
                  </p-button>
                  <p-button class="p-col-6 decline-button"
                            label="Очистить"
                            (onClick)="clearFilters()"
                            style="display: flex; justify-content: center; margin-bottom: 10%">
                  </p-button>
                </div>
              </p-scrollPanel>
            </p-sidebar>
          </div>
        </p-header>
        <p-footer style="height: 0"></p-footer>
        <ng-template let-product pTemplate="gridItem">
          <div class="p-grid p-col-12 p-md-6 p-lg-4 p-xl-3 product-card p-justify-center">
            <div class="p-col-6 p-md-12 p-align-start p-justify-center product-image">
              <a href="/productPage/{{product.productId}}" target="_blank">
                <img alt="img"
                     class="img-responsive" src="{{machineBaseUrl + '8082/images/' + product.productId}}">
              </a>
            </div>
            <div class="p-col-6 p-md-12  p-align-center p-justify-center product-short-info">
              <p class="p-col-12">{{product.brand.shortName}}</p>
              <div class="p-col-12 p-align-start">
                <a href="/productPage/{{product.productId}}" target="_blank" class="data-view-product-name">
                  {{product.type.showName + " " + product.model + " " + product.age}}
                </a>
              </div>
              <div class="p-col-12">
                <b>от&nbsp;{{product.minPrice}}&nbsp;₽</b>
              </div>
              <div class="p-col-12 data-view-product-rating">
                <p-rating [ngModel]="product.rating.value" iconOnClass="pi pi-star" iconOffClass="pi pi-star-o"
                          readonly="true" stars="5" [cancel]="false"></p-rating>
              </div>
              <div class="p-col-12">
                <a href="/productPage/{{product.productId}}#offersTable" class="data-view-offer-qty">
                  Количество предложений:&nbsp;{{product.offerQuantity}}
                </a>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </div>
</div>
